<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
  </head>
  <body>
    <h1>About Poly</h1>
    <p>Poly is a single place to find all the game dev scripts you need. Community moderated and driven to help others find scripts, tools, and assets to help others.</p>
    <p>If you would like to contribute please go to the Poly list and enjoy. </p>
    <br>
    <h1>Features</h1>
    <p>List of features go here</p>

  </body>
</html>
