<footer class="footer">
  <small>
    The Poly - A Package Manager for Game Developers by Chris Figueroa
  </small>
  <!-- <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "Team", team_path %></li>
    </ul>
  </nav> -->
</footer>
